* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url(https://img.freepik.com/free-vector/hand-drawn-scientific-formulas-chalkboard_23-2148495302.jpg?w=740&t=st=1697187592~exp=1697188192~hmac=331b718fd3e3f5266beb692bba7af7ad19b86a61392e6118bf8184e5746b2dac); */
  background-position: center;
}

.container {
  text-align: center;
}
.container p {
  font-size: 2em;
  background-color: white;
  margin-bottom: 10px;
}

.calculator {
  width: 300px;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.display {
  background-color: #8b8989;
  padding: 10px;
  text-align: right;
  font-size: 2em;
  color: white;
}
.display > input{
    text-align: right;
    width: 100%;
    font-size: 2em;
}

.operands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}




.number-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-column: 1 / span 4;
  padding: 5px;
}

button {
  padding: 15px;
  font-size: 1.5em;
  background: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #ccc;
}

.key-operator {
  background: #f8b400;
  color: #333;
}

.key--equal {
  background: #2ecc71;
  color: #fff;
  grid-column: 4;
  grid-row: 1 / span 4;
  /* justify-content: end; */
}
